.menuContainer {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}

.menuContainer li {
  list-style: none;
  margin: 0 10px;
}

@media (max-width: 1064px) {
  .menuContainer {
    display: flex;
    flex-direction: column !important;
    align-self: flex-end !important;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    top: 50px;
    right: 0;
    background: white;
    margin: 0 0 0 auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    max-width: 250px;
  }
  .menuContainer ul {
    flex-direction: column !important;
    padding: 0 !important;
  }
  .menuContainer ul li {
    padding: 10px 20px !important;
    text-align: left;
  }
}
